.puzzleForm, 
.puzzleList {
    font-size: small;
    margin: 1rem;
}

.form__puzzleDimensions {
    display: flex;
    flex-direction: row;
}

#puzzleLength, 
#puzzleWidth {
    width: 2.5em;
    text-align: center;
}

.link__toPuzzleDetails {
    text-decoration: none;
    color: inherit;
}

.puzzle__name {
    font-size: large;
    font-weight: bold;
}

.puzzle__brand {
    font-size: small;
}

.puzzle__detail {
    font-size: small;
}

.puzzle__title {
    font-weight: bold;
}