.searchbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: whitesmoke;
    color: dimgrey;
    font-size: small;
    font-weight: bold;
    padding: .5em 3em .5em 3em;
}

.searchbar__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.searchbar__status {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding: 0 0 0 1em;
}

.searchbar__workspace {
    padding: 0 0 0 1em;
}
 


.puzzleList__container {
    /* display: flex;
    flex-direction: row; */
}

.puzzleList {
    margin: 0;
}

.btnAddPuzzle {
    /* display: inline-block;
    text-align: center; */
}


.puzzle__card {
    background-color: whitesmoke;
    width: 210px;
    padding: 1em;
}

.puzzle__item {
    width: 225px;
}

.puzzle__status {
    text-align: right;
}


.puzzleForm {
    margin: 1rem;
}

.form__puzzleDimensionsInputGroup {
    display: flex;
    flex-direction: row;
}

#puzzleLength, 
#puzzleWidth {
    width: 2.5em;
    text-align: center;
}

.link__toPuzzleDetails {
    text-decoration: none;
    color: inherit;
}

.puzzle__name {
    font-size: large;
    font-weight: bold;
}

.puzzle__brand {
    font-size: small;
}

.puzzle__detail {
    /* font-size: small; */
}

.puzzle__title {
    font-weight: bold;
}