.spaceForm, 
.spaceList {
    font-size: small;
    margin: 1rem;
}

.form__spaceDimensions {
    display: flex;
    flex-direction: row;
}

#spaceLength, 
#spaceWidth {
    width: 2.5em;
    text-align: center;
}

.link__toSpaceDetails {
    text-decoration: none;
    color: inherit;
}

.space__name {
    font-size: large;
    font-weight: bold;
}

.space__detail {
    font-size: small;
}

.space__title {
    font-weight: bold;
}