.relationshipList {
    margin: 0;
}

.relationship__card {
    background-color: whitesmoke;
    width: 250px;
    padding: 1em;
}

.relationship__item {
    width: 250px;  
}

.relationshipForm {
    margin: 1rem;
}

.container__addRelationship {
    /* display: flex;
    flex-direction: row; */
}

.link__toRelationshipDetails {
    text-decoration: none;
    color: inherit;
}

.relationshipForm {
    margin: 1em;
}

.relationship__name {
    font-size: large;
    font-weight: bold;
}

.relationship__detail {
    /* font-size: small; */
}

